
# misc
.DS_Store
.idea
.vscode
.nova/Configuration.json

# dependencies
/**/node_modules/**/*
/.pnp
.pnp.js

# builds
/nix.novaextension/Scripts

# logs
npm-debug.log*
yarn-debug.log*
yarn-error.log*
